label{
    color: white;
}


.article-editor{
    width: 100%;
    height: 735px;
    margin-top: 30px;
    color: white;
}

.form-article-title__input{
    width: 50%;
    font-size: 28px;
    background-color: transparent;
    border: 1px solid white;
    padding: 0 10px;
    color: white;
}

.form-article-description__input{
    width: 40%;
    font-size:17px;
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 0 10px;
}

.form-article-coverpicture__wrapper{
    margin-top: 10px;
    color: white;
}

.form-article-label__text{
    margin-right: 10px;
}

.form-article-anon__wrapper{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.form-article-anon__wrapper label {
    margin-right: 5px;
}
.form-article-anon__wrapper input{
    margin-right: 15px;
}

.form-article-submission__wrapper{
    margin-right: 50px;
}


.form-article-btn__submit{
    border: none;
    background-color: transparent;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
    color: limegreen;
}