.article__wrapper{
  /* width: 1100px; */

  overflow: auto;
  margin: auto;
  padding-top: 50px;
  color: white;
}

.author{
    color: rgba(244, 244, 244, 0.4);
}


.published-date{
    color: rgba(244, 244, 244, 0.4);
}


.article-paragraph__wrapper{
    margin-top: 20px;
}
