
.content-main__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin-top: 70px;
}

.content-main__wrapper h1{
  color: white;
}

.image-blog {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.content-details__wrapper {
  display: flex;
  justify-content: space-between;
}


.content-details__wrapper p {
  color: rgba(217, 217, 217, 0.66);
}

.content-link-btn h1 {
  width: 600px;
}

.content-link-btn{
  background-color: red;
  border: none;
  background-color: transparent;
  padding: 5px 20px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.content-link-btn:hover {
  background-color: rgba(0, 0, 0, 0.21);
}

.author-image {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  object-fit: cover;
}

.filter-icon__wrapper {
  text-align: start;
  margin-left: 50px;
  
}

.filter-icon {
  border: none;
  background-color: transparent;
  cursor: pointer;

 
}

.author{
  margin-left: -280px;
}


.loading-articles{
  border: 1px solid white;
  width: 30px;
  height: 30px;

  border-right: 5px dotted gray;
  border-radius: 50px;
  
  margin: 100px auto 0 auto;

  animation: loadingRotate 1s infinite linear;
}


@keyframes loadingRotate{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}


.article-opened__wrapper{
  position: absolute;
  top:0;
  
  background-color: #202020;
  width: 1500px;
  height: 100%;
  z-index: 5;
}


.hidden{
  display: none;
}