.content-main__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin-top: 70px;
}

.image-blog {
  width: 400px;
}

.content-details__wrapper {
  display: flex;
  justify-content: space-between;
}

.content-details__wrapper p {
  color: rgba(217, 217, 217, 0.66);
}

.content-link h1 {
  width: 600px;
}

.content-link:hover {
  background-color: rgba(0, 0, 0, 0.21);
}

.author-image {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  object-fit: cover;
}

.filter-icon__wrapper {
  text-align: start;
  margin-left: 50px;
}

.filter-icon {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
