.nav-ul__wrapper {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  
  padding-top: 50px;
}

.nav-signout__btn{
  border: none;
  background-color: transparent;
  font-size: 15.4px;
  cursor: pointer;
  color: white;
}