.signup-main__wrapper {
  display: flex;
  justify-content: center;
}

.signup-main__wrapper h1 {
  font-size: 56px;
  text-align: center;

  margin-top: 100px;
}

.form-main-container__wrapper {
  width: 600px;
  height: 300px;

  background-color: white;
}

.signup-btn__wrapper {
  text-align: center;
  padding-top: 15px;
}

.signup-btn__submit {
  color: #2f2f2f;
  background-color: transparent;
  border: none;
  cursor: pointer;

  font-size: 15px;
}

.signup-btn__submit:hover {
  color: black;
}

.user-fname-lname__wrapper {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-top: 50px;
}

.user-fname__input {
  width: 200px;
  padding: 2px 5px;
  color: #202020;

  font-size: 14px;
}

.user-lname__input {
  width: 200px;
  padding: 2px 5px;
  color: #202020;

  font-size: 14px;
}

.user-email__wrapper {
  text-align: center;
  padding-top: 20px;
}

.user-email__input {
  width: 410px;
  padding: 2px 5px;
  color: #202020;

  font-size: 14px;
}

.user-email__input::placeholder {
  text-align: center;
}

.user-mobile-gender__wrapper {
  display: flex;
  justify-content: center;
  gap: 5px;

  padding-top: 20px;
}

.user-mobile__input {
  width: 200px;
  color: #202020;
  padding: 2px 5px;

  font-size: 14px;
}

.user-gender__select {
  width: 205px;
  color: #202020;
  padding: 2px 5px;

  font-size: 14px;
}

.user-gender__select option {
  color: #202020;
}

.user-username__wrapper {
  text-align: center;
  padding-top: 20px;
}

.user-username__input {
  width: 410px;
  padding: 2px 5px;
  color: #202020;

  font-size: 14px;
}

.nextphase__wrapper {
  position: absolute;
  right: -200px;
  top: 30%;
  transform: translate(50%, -50%);

  transition: all 0.5s ease-in;
  animation: nextphaseslide 0.5s;
}

.nextphase-slideback {
  right: 50%;
  top: 30%;
  transform: translate(50%, -50%);
  /* display: block; */
  animation: nextphasebackslide 0.5s;
}

@keyframes nextphaseslide {
  0% {
    opacity: 1;
    display: block;
  }
  47%,
  100% {
    opacity: 0;
    display: block;
  }
}

@keyframes nextphasebackslide {
  0%,
  95% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}

.security-questions__wrapper label {
  color: #202020;
}

/* ---- */

.default {
  position: absolute;
  left: 50%;
  top: 17%;
  transform: translate(-50%);
  transition: all 1s ease-out;

  animation: slideBackOpacityAnimation 1s;
}
.slideLeft {
  position: absolute;
  left: -400px;
  animation: slideOpacityAnimation 1s;
}
@keyframes slideOpacityAnimation {
  0% {
    opacity: 1;
  }
  10%,
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes slideBackOpacityAnimation {
  0%,
  70% {
    display: none;
    opacity: 0;
  }

  100% {
    opacity: 1;
    display: block;
  }
}

.form-inputs {
  width: 200px;
  padding: 2px 5px;
  color: #202020;

  font-size: 14px;

  margin-bottom: 10px;
}

.password-input {
  width: 400px;
  padding: 2px 5px;
  color: #202020;

  font-size: 14px;

  margin-top: 50px;
}

.confirmpassword-input {
  width: 400px;
  padding: 2px 5px;
  color: #202020;

  font-size: 14px;
  margin-top: 10px;
}

.security-header-text {
  color: #202020;
  font-weight: 400;
  font-size: 19px;

  margin: 10px 0 10px 0;
}

.signup-btn-nextPhase {
  color: #202020;
  background-color: transparent;
  border: none;

  margin-right: 10px;
  cursor: pointer;
}
