.signup-main__wrapper {
  display: flex;
  justify-content: center;
}

.signup-main__wrapper h1 {
  font-size: 56px;
  text-align: center;

  margin-top: 100px;
}

.form-main-container__wrapper {
  width: 700px;
  height: 500px;

  background-color: white;
}
