.signup-main__wrapper {
  display: flex;
  justify-content: center;
}

.signup-main__wrapper h1 {
  font-size: 56px;
  text-align: center;

  margin-top: 100px;
}

.form-main-container__wrapper {
  width: 600px;
  height: 300px;

  background-color: white;
}

.signup-btn__wrapper {
  text-align: center;
  padding-top: 15px;
}

.signup-btn__submit {
  color: #2f2f2f;
  background-color: transparent;
  border: none;
  cursor: pointer;

  font-size: 15px;
}

.signup-btn__submit:hover {
  color: black;
}

.user-fname-lname__wrapper {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-top: 50px;
}

.user-fname__input {
  width: 200px;
  padding: 2px 5px;
  color: #202020;

  font-size: 14px;
}

.user-lname__input {
  width: 200px;
  padding: 2px 5px;
  color: #202020;

  font-size: 14px;
}

.user-email__wrapper {
  text-align: center;
  padding-top: 20px;
}

.user-email__input {
  width: 410px;
  padding: 2px 5px;
  color: #202020;

  font-size: 14px;
}

.user-email__input::placeholder {
  text-align: center;
}

.user-mobile-gender__wrapper {
  display: flex;
  justify-content: center;
  gap: 5px;

  padding-top: 20px;
}

.user-mobile__input {
  width: 200px;
  color: #202020;
  padding: 2px 5px;

  font-size: 14px;
}

.user-gender__select {
  width: 205px;
  color: #202020;
  padding: 2px 5px;

  font-size: 14px;
}

.user-gender__select option {
  color: #202020;
}

.user-username__wrapper {
  text-align: center;
  padding-top: 20px;
}

.user-username__input {
  width: 410px;
  padding: 2px 5px;
  color: #202020;

  font-size: 14px;
}

.nextphase__wrapper {
  position: absolute;
  right: -155px;
  top: 30%;
  transform: translate(50%, -50%);

  transition: all 1s ease-in;
}

.security-questions__wrapper label {
  color: #202020;
}

/* ---- */

.default {
  position: absolute;
  left: 50%;
  top: 17%;
  transform: translate(-50%);
  transition: all 1s ease-out;
}
.slideLeft {
  position: absolute;
  left: -400px;
  transition: all 1s ease-out;
}
